@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

$very-dark-blue: hsl(233, 47%, 7%);
$dark-desaturated-blue: hsl(244, 38%, 16%);
$soft-violet: #aa5cdb;

$white: hsl(0, 0%, 100%);
$slightly-tranparent-white-paraghraph: hsla(0, 0%, 100%, 0.75);
$slightly-tranparent-white-heading: hsla(0, 0%, 100%, 0.6);
$bp-mobile: 375px;

body {
    margin: 0;
}
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: $very-dark-blue;
    padding: 177px 165px;

    .card {
        display: flex;
        background-color: $dark-desaturated-blue;
        max-width: 1110px;
        line-height: 0;
        box-sizing: border-box;
        border-radius: 8px;
        overflow: hidden;
        .left {
            font-family: "Inter", sans-serif;
            box-sizing: border-box;
            padding: 60px;
            .title {
                color: $white;
                font-size: 36px;
                line-height: 44px;
                font-weight: 700;
                margin-top: 0;
                margin-bottom: 25px;
                span {
                    color: $soft-violet;
                }
            }
            .description {
                color: $slightly-tranparent-white-paraghraph;
                font-size: 15px;
                line-height: 25px;
                margin-top: 0;
                margin-bottom: 70px;
            }
            .stats {
                display: flex;
                justify-content: space-between;
                line-height: normal;
                .number {
                    color: $white;
                    font-size: 24px;
                    font-weight: 700;
                }
                .label {
                    font-family: "Lexend Deca", sans-serif;
                    color: $slightly-tranparent-white-heading;
                    font-size: 12px;
                }
            }
        }
        .right {
            position: relative;
            width: 100%;
            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
            .mobile {
                display: none;
            }
            &::after {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: $soft-violet;
                opacity: 0.55;
            }
        }
    }
    @media (max-width: $bp-mobile) {
        padding: 24px;
        height: auto;
        .card {
            flex-direction: column;
            .left {
                order: 2;
                padding: 30px;
                .title {
                    font-size: 28px;
                }
                .description {
                    margin-bottom: 16px;
                }
                .stats {
                    flex-direction: column;
                    align-items: center;
                    .item {
                        margin-top: 24px;
                    }
                }
            }
            .right {
                order: 1;
                .desktop {
                    display: none;
                }
                .mobile {
                    display: block;
                }
            }
        }
    }
}
